h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
}

.text-body {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.text-body a, .text-body a:visited{
    color: #48403D;
    text-decoration: none;
    border-bottom: 1px solid #48403d;
}

.text-body a:hover, .text-body a:active {
    opacity: .7;
    text-decoration: none;
    border-bottom: 0px;
}

.indent {
    display: block;
    padding-left: 2em;
}

.section-divider {
    text-align: center;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 20px
}

sup {
    font-size: 0.75em;
    line-height: 0;
    vertical-align: 0.5em;
}

.bio {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-style: normal;
    padding-top: 3rem;
}

.bio em {
    font-style: italic;
}

#js {
    text-align: center;
}